
:root{
  --white: white;
  --mint-cream: #F8FFF4;
  --raisin-black: #242331;
  --gunmetal: #2C2B3A;
  --gunmetal-transparent: #2c2b3af7;
  --saffron: #F9C22E;
}


html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'PT Sans', sans-serif;
  color: var(--mint-cream);
}

.no-desktop{
  display: none;
}

@media (min-width: 43.75em) {
  .no-desktop {
    background: var(--raisin-black);
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 10000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .forbidden-circle {
    height: 100px;
    width: 100px;
    border: 6px solid var(--saffron);
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 51px;
    color: var(--mint-cream);
    margin-bottom: 40px;
  }

  .forbidden-circle:after{
    content: '';
    position: absolute;
    left: 45%;
    transform: rotate(45deg) translateX(-19%);
    width: 9px;
    height: 100%;
    background: var( --saffron);
  }
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

/*start tipography*/
h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}
.subheading{
  font-family: 'TypoPRO Cooper Hewitt', sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
}

body, caption, th, td, input, textarea, select, option, legend, fieldset, h1, h2, h3, h4, h5, h6 {
  font-size-adjust: 0.5;
  margin: 0 0 1.5rem 0;
}

#page {
  font-size: 1em;
  /* equivalent to 16px */
  line-height: 1.25;
  /* equivalent to 20px */
}

@media (min-width: 43.75em) {
  #page {
    font-size: 1em;
    /* equivalent to 16px */
    line-height: 1.375;
    /* equivalent to 22px */
  }
}

h1 {
  font-size: 2em;
  /* 2x body copy size = 32px */
  line-height: 1.25;
  /* 45px / 36px */
}

@media (min-width: 43.75em) {
  h1 {
    font-size: 2.5em;
    /* 2.5x body copy size = 40px */
    line-height: 1.125;
  }
}

@media (min-width: 56.25em) {
  h1 {
    font-size: 3em;
    /* 3x body copy size = 48px */
    line-height: 1.05;
    /* keep to a multiple of the 20px line height and something more appropriate for display headings */
  }
}

h2 {
  font-size: 1.625em;
  /* 1.625x body copy size = 26px */
  line-height: 1.15384615;
  /* 30px / 26px */
}

@media (min-width: 43.75em) {
  h2 {
    font-size: 2em;
    /* 2x body copy size = 32px */
    line-height: 1.25;
  }
}

@media (min-width: 56.25em) {
  h2 {
    font-size: 2.25em;
    /* 2.25x body copy size = 36px */
    line-height: 1.25;
  }
}

h3 {
  font-size: 1.375em;
  /* 1.375x body copy size = 22px */
  line-height: 1.13636364;
  /* 25px / 22px */
}

@media (min-width: 43.75em) {
  h3 {
    font-size: 1.5em;
    /* 1.5x body copy size = 24px */
    line-height: 1.25;
  }
}

@media (min-width: 56.25em) {
  h3 {
    font-size: 1.75em;
    /* 1.75x body copy size = 28px */
    line-height: 1.25;
  }
}

h4 {
  font-size: 1.125em;
  /* 1.125x body copy size = 18px */
  line-height: 1.11111111;
}

@media (min-width: 43.75em) {
  h4 {
    line-height: 1.22222222;
    /* (22px / 18px */
  }
}

blockquote {
  font-size: 1.25em;
  /* 20px / 16px */
  line-height: 1.25;
  /* 25px / 20px */
}

@media (min-width: 43.75em) {
  blockquote {
    font-size: 1.5em;
    /* 24px / 16px = */
    line-height: 1.45833333;
    /* 35px / 24px */
  }
}

/*end tipography*/

body {
  margin: 0;
  padding: 0;
  background: var(--raisin-black);
  font-size: 100%;
  overflow-x: hidden;

}

.header {
  z-index: 1300;
  width: 100%;
  position: fixed;
  overflow-x: hidden;
  height: 60px;
  background: var(--gunmetal-transparent);;
  color: var(--saffron);
  display: flex;
  align-items: center;
  padding: 0 40px;
  box-shadow: 1px 2px 6px 0px var(--saffron);

  @media (min-width: 56.25em) {
    width: 60px;
    height: 100%;
    padding: 0;
    align-items: normal;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: 1px 0px 10px -5px var(--saffron);
  }

  &__logo{
    margin: 0;
    .svg-logo {
      display: block;
      padding: 8px;
    }
  }

  &__menu-btn {
    margin-left: auto;
    font-size: 36px;

    &:active {
      transform: scale(1.2);
      color: orange;
    }

    @media (min-width: 56.25em) {
      visibility: hidden;
      pointer-events: none;
    }
  }


}


.navbar {
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  height: 60px;
  background: var(--gunmetal-transparent);
  align-items: center;
  display: flex;
  padding: 0 40px;
  transform: translateX(101%);
  opacity: 0;
  transition: transform 0.2s ease-in-out,
              opacity 0.2s ease-in-out;
  contain: strict;

  @media (min-width: 56.25em) {
    position: static;
    width: 100%;
    height: 300px;
    padding: 0;
    transform: none;
    opacity: 1;
  }

  &--show {
    transform: translateX(0%);
    opacity: 1;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    flex: 1;
    justify-content: space-between;

    @media (min-width: 56.25em) {
      flex-direction: column;
    }
  }

  &__list-item {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  i {
    position: relative;
    transition: all 0.15s ease-in;

    &:after, &:before {
      right: 50%;
      top: 50%;
      transform: translate( 50%, -50%);
      transition: all 0.15s ease-in;
      position: absolute;
    }

    &:before {
      opacity: 1;
    }

    &:after {
      font-family: 'TypoPRO Cooper Hewitt', sans-serif;
      font-size: 0.4em;
      content: '';
      opacity: 0;
      margin-top: 2px;
    }

    &.selected, &:hover {
      &:before {
        opacity: 0;
      }

      &.home-icon:after {
        content: 'HOME';
        opacity: 1;
      }
      &.about-icon:after {
        content: 'ABOUT';
        opacity: 1;

      }
      &.skills-icon:after {
        content: 'SKILLS';
        opacity: 1;

      }
      &.work-icon:after {
        content: 'WORK';
        opacity: 1;
      }
      &.contact-icon:after {
        content: 'CONTACT';
        opacity: 1;
      }
    }
  }

  i.selected {
    color: white;
    fill: white;
    transform: scale(1.5);
  }


}

.banner {
  text-decoration: none;
  cursor: pointer;
}

main {
  height: calc(100vh);
  overflow-y: scroll;
  position: relative;
  padding: 60px 0 0;

  @media (min-width: 56.25em) {
    padding: 0 0 0 60px;
  }
}

button {
  background: transparent;
  border: 1px solid #F9C22E;
  cursor: pointer;
  color: #F9C22E;
  padding: 10px 15px;
  text-transform: uppercase;
  font-family: 'TypoPRO Cooper Hewitt', sans-serif;
}

.button {
  display: flex;
  justify-content: center;
}

button:hover {
  box-shadow: none;
}

footer {
  height: 60px;
  background: var(--gunmetal);
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0 40px;

  @media (min-width: 56.25em) {
    border-radius: 6px 6px 0 0;
    margin: 0 60px;
  }
}

footer span {
  font-size: 0.8em;
}

.page__text-zone {
  margin-top: 60px;
  z-index: 1;
  position: relative;
}

.page {
  position: relative;
  z-index: 1;
  min-height: calc(100% - 60px);
  width: 100%;
  overflow: auto;
  padding: 60px 32px 20px;

  @media (min-width: 56.25em) {
    padding: 60px;
  }
}

.page.slide {
}

.page__background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 0;
  /* padding: 0 30px 110px; */
  opacity: 0.1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.temp-bg {
  font-size: 400px;
  color: purple;
}



.toast {
  position: fixed;
  height: 80px;
  width: 100%;
  max-width: 375px;
  background: #3e3939;
  color: #e6e4e4;
  padding: 10px 40px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  transform: translateY(100%);
  transition: transform 0.3s ease-out;
}

.toast.show-toast {
  transform: translateY(0%);
}

.preloader {
  transform: translateX(-100%);
  position: fixed;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--gunmetal);
  color: var(--saffron);
  z-index: 1300;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}